
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Playfair+Display&display=swap');
@media all and (min-width: 480px) {

    .InternshipDetailsForm {
      padding: 60px 0;
      background-image: url("https://images.unsplash.com/photo-1586281380349-632531db7ed4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8am9ifGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
      background-size: cover;
     -webkit-background-size:cover;
      -moz-background-size:cover; 
      background-attachment: fixed;
      position: relative;
      min-height: 100vh;
    }
  
    .InternshipDetailsForm form {
      margin: 0 auto;
      max-width: 500px;
    }

    .stycard
    {
      width: 800px;
      margin: 0 auto;
      margin: '0 2px';
      background-color: transparent;
      background: rgba(0, 0, 0, 0.7);
      color:white;
      font-family: 'Antonio', sans-serif;
      font-family: 'Playfair Display', serif;
    }
  }