@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Playfair+Display&display=swap');
@media all and (min-width: 480px) {
    .DisplayCourseDetails {
        font-family: 'Antonio', sans-serif;
        font-family: 'Playfair Display', serif;
        padding-top: 10px;
    }
    .fullcard{
        font-family: 'Antonio', sans-serif;
        font-family: 'Playfair Display', serif;
        background-color: #eef2f3;
        height: 600px;
        padding-left:50px;
       
        
    }
    body {overflow-x: hidden;}

    .hcard{
        width:700px;
         height:500px;
        overflow-y: scroll;
        flex: 1;
        line-height: 1em;
        -webkit-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.05);
        box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.05);
       
    }

    .left
    {
        line-height: 1em;
        -webkit-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.05);
      -moz-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.05);
      box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.05);
    }

}