

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Playfair+Display&display=swap');
@media all and (min-width: 480px) {
    .SingleInternshipDisplay {
        padding-top: 40px;
        padding-bottom: 40px;
        font-family: 'Antonio', sans-serif;
        font-family: 'Playfair Display', serif;

        background-image: url(https://i.pinimg.com/originals/fe/50/35/fe50351bc9118092bd0492d2e4681cfc.jpg);
        background-size: cover;
        -webkit-background-size:cover;
         -moz-background-size:cover; 
         background-attachment: fixed;
         position: relative;
         min-height: 100vh;

    }

    .cstyle{
        width: 800px;
        margin: 0 auto;        
    }

    .cbody{
        background: linear-gradient(to right, #50c9c3, #96deda); 
    }

    #cardItem{
        background-color: blue;
    }

}